#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/60405796-5f6c-40db-a91b-49bd25d1fca6/ # 
title: Craft-online-shopping-c
version: 1.0
types:
  users: !include  datatypes/user.raml
  orders: !include datatypes/order.raml
  products: !include datatypes/product.raml
  categories: !include datatypes/category.raml
traits:
  Responsemessage: !include Traits/responses.raml
securitySchemes:
  oath: !include securityScheme.raml   
documentation:
      - !include  documentation.raml    
/users:

  description: this is the users resources
  get:
    description: users resource get http status code response
    responses:
      200:
        body:
          application/json:
            
            example:  !include  Examples/user.raml
  
    
  is: [Responsemessage]
     
     
  /{userid}:
    get:
      description: 
      responses:
        200:
          body:
            application/json:
              example:  !include Examples/users.raml
               
        

    is : [Responsemessage]
  post:

    description: list of post status codes
    body:
      application/json:
        example: !include Examples/postuserRequestBody.json
         
    responses:
      200:
        body:
          application/json:
            example: !include Examples/postuserResponses.json
             
    
            
    is : [Responsemessage]
 
  /products:

   get:
    responses:
      200:
        body:
          application/json:
            example: !include Examples/Getproducts.json
             
      
    
    is : [Responsemessage]

/{Productid}:
 get:
      responses:
        200:
          body:
            application/json:
              example: !include Examples/Getproduct.json
               
        
      is: [Responsemessage]          

/orders:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include Examples/GetOrders.json
            
     
  is : [Responsemessage]   
  
  /{Orderid}:
    
    get:
      responses:
        200:
          body:
            application/json:
              example: !include Examples/GetOrder.json
                
    is : [Responsemessage]    
  
  /{orderUid}:
    
    get:
      responses:
        200:
          body:
            application/json:
              example: !include Examples/GetOrderUid.json
               
    is :  [Responsemessage]      
  
  post:
    
    body:
      application/json:
        example: !include Examples/PostOrderRequest.json
         
    responses:
      200:
        body:
          application/json:
            example: !include Examples/PostOrderResponse.json
              
     
    is : [Responsemessage]           

/Categories: 
  get:
    responses:
      200:
        body:
          application/json:
            example: !include Examples/GetCategories.json
  
    is : [Responsemessage]          
      
  /{Categoryid}:
    
    get:
      responses:
        200:
          body:
            application/json:
              example: !include Examples/GetCategory.json
            
                 
                          

              
      
 
